body {
  margin: 0;
  font-size: 9px;
  font-family: "Open Sans";
}


/*top navigation bar*/
 /* Add a black background color to the top navigation */

.topnav {
    //background-color:  #33bbff;
    overflow: hidden;
    /*position: fixed; !* Set the navbar to fixed position *!*/
    /*top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 5;
}

#myTopnav {
    /*height: 200px;*/
    background: #33bbff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0099e6 , #99ddff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0099e6, #99ddff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0099e6, #99ddff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0099e6 , #99ddff); /* Standard syntax (must be last) */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #0088cc;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#right, #fbright, #instaright, #whatsright{
  float:right;
}


#fbright:hover{
  /*color:#3B5998;*/
  background-color: #0088cc;
}

#instaright:hover{
  /*color: #e95950;*/
  background-color: #0088cc;
}

#whatsright:hover{
  /*color:#4dc247;*/
  background-color: #0088cc;
}

/* sticky navabar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .servicecont{
    padding-top: 30px;
}
/*sticky ends here*/

/*main block*/
.container-fluid{
  padding: 60px 0 0 75px;
}

body{
    background-image: url("kidsPic.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.LogInBox{
    background-color: white;
    margin: 30px 0px 0px 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-width: 300px;
}
.heading{
    font-size: 20px;
    font-style: bold;
    font-family: 'Pacifico';
}
.sub_heading{
    padding: 0px;
    color: silver;
    font-size: 22px;
    font-family: 'Bellefair';
}
.login_error{
    color: red;
}
.info{
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Titillium Web';           
}
.new_box{
    background-color: white;
    margin: 0px 0px 0px 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    font-family: 'Titillium Web';
    max-width: 300px;
    font-size: 15px;
}
#app{
    margin: 0px 30px 0px 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Titillium Web';
    color: white;
}
.fo{
    position: absolute;
    bottom: 0px;
    background-color: white;
    display: block;
    width: 100%;
    float: left;
    margin-left: -20px;
}
.foo, .fooo{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 16px;
    text-align: center;
}      
.fooo{
    cursor: pointer;
}
.copy{
    margin-left: 100px;
}


footer{
  max-height: 600px;
  /*max-width: 1700px;*/
  background-color: #333333;
  margin-top: 0px;
  bottom: 0;
  width: 100%;


}
.follow{
  /*float: right;*/
  color: #fff;
  /*padding-right: 40px;*/
  /*padding-top: -50px;*/
  padding-bottom: 30px;
  text-align: center;
    padding-top: 0px;
}

.icons{

  display: inline;
  /*font-size: 60px;*/
  padding: 20px;
}

.icon:hover{
  color: #f01b3b;
}

.icon .nico{
  height:200px;
}
.iconi{
  /*height: 100px;*/
  font-size: 20px;
}

footer p{
  font-size: 20px;
  color: #fff;
  /*margin-top: 300px;*/
  text-align: center;

}
footer a{
  font-size: 20px;
  padding:15px;
  color: #fff;
  border-radius: 50px;
}

.sources{
    margin-left: 30px;
    /*margin-bottom: 20px;*/
    /*padding: 20px;*/
    /*padding-right: 40px;*/
}
/* Style the links inside the navigation bar */
.sources a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    /*padding: 20px;*/
    margin-right: 20px;
}

/* Change the color of links on hover */
.sources a:hover {
    background-color: black;
    color: white;
}


#fb:hover{
  color: #3B5998;
}
#insta:hover{
  color: #e95950;
}
#whatsapp:hover{
  color: #4dc247

}
#twit:hover{
  color: #55acee

}





 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  #right, #fbright, #instaright, #whatsright{
    float:none;
  }
  .introbox, .contactbox{
    /*max-width: 600px;*/
    text-align: center;
    float: none;
    /*max-width: 300px;*/
    max-width: 100%;
    margin: 0 auto;
  }
  .sources{
    margin:0 auto;
  }
  .sources a{
    display: block;
    float: none;
  }

}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
